<?xml version="1.0" encoding="utf-8"?>
	<packages>
		<!-- Utilitarios -->
		<package id="7zip" />
		<package id="cmder" />
		<package id="putty.install" />
		<!-- /Utilitarios -->
		
		<!-- Internet -->
		<package id="googlechrome" />
		<package id="firefox" />
		<package id="telegram.install" />
		<package id="whatsapp" />
		<!-- /Internet -->
		
		<!-- Produtividade -->
		<package id="authy-desktop" />
		<package id="adobereader" />
		<package id="notepadplusplus" />
		<package id="teamviewer" ignoreChecksum="True" />
		<package id="greenshot" />
		<!-- /Produtividade-->
		
		<!-- Desenvolvimento -->
		<package id="git" />
		<package id="filezilla" />
		<package id="visualstudiocode" />
		<package id="docker" />
		<package id="docker-toolbox" />
		<package id="docker-compose" />
		<package id="vscode-docker" />
		<!-- /Desenvolvimento -->
		
		<!-- Multimidia -->
		<package id="vlc" />
		<!-- /Multimidia -->
	</packages>
</xml>
